################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Prashant.BookStore/.vs/Prashant.BookStore
/Prashant.BookStore/Prashant.BookStore/bin/Debug/net6.0
/Prashant.BookStore/Prashant.BookStore/obj
/Prashant.BookStore/.vs/ProjectEvaluation
/Prashant.BookStore/Prashant.BookStore/Prashant.BookStore.csproj.user
/Prashant.BookStore/Prashant.BookStore/bin/Debug/net7.0
