@{
    Layout = "_Layout";
}

<h2 class="h2">Index view from home controller</h2>
<h3>Hello from book store app</h3>
<img src="~/images/photo.jpg" class="logo" />
<img src="~/mystaticfiles/sign.png" />
<input type="button" class="btn btn-warning" value="Click Me" />

