@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <h2>Index view from home controller</h2>
    <img src="~/images/photo.jpg" class="logo" />
    <img src="~/mystaticfiles/sign.png" />

</body>
</html>
